@import '../abstracts/mixins/mixins';
@import '../abstracts/variables/colors';

.scroller-section {
  --scroller-slide-gap: max(40px, (80px * var(--scale)));
  --scroller-slide-pt: max(34px, (55px * var(--scale)));
  --scroller-slide-pb: max(44px, (78px * var(--scale)));

  //@include layout-1200 {
  //
  //}

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-wrapper {

    &--hidden-m {

      @include tablet {
        display: none;
      }
    }
  }

  &__cta {
    margin-top: 70px;
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &:last-of-type {

    .scroller-section__cta {
      margin-bottom: 64px;
    }
  }

  &-splide {

    &__track {

    }

    &__list {

    }

    &__slide {
      margin-right: var(--scroller-slide-gap);

      @include typography-scroller-text;

      padding: var(--scroller-slide-pt) 0 var(--scroller-slide-pb);

      span {
        color: $color__main;
        font-style: italic;
      }
    }
  }
}