@import '../abstracts/mixins/mixins';
@import '../abstracts/variables/colors';

.team-section {
  --section-pt: max(58px, (78px * var(--scale)));

  //--section-pb: max((120px - var(--section-splide-track-pb)), (((238px - var(--section-splide-track-pb)) * var(--scale))));
  --section-pb: max(55px, (152px * var(--scale)));

  //--section-splide-mt: max((100px - var(--section-splide-track-pt)), (((175px - var(--section-splide-track-pt)) * var(--scale))));

  --section-splide-track-pt: max(43px, (49px * var(--scale)));
  //--section-splide-track-pl: 24px;
  --section-splide-track-pl: 0px;
  //--section-splide-track-pr: 32px;
  --section-splide-track-pr: 0px;
  --section-splide-track-pb: max(43px, (49px * var(--scale)));

  //--section-splide-list-gap: max(16px, (37px * var(--scale)));

  //--section-splide-slide-w: 31.62%; // 455px
  --section-splide-slide-w: max(226px, (302px * var(--scale))); // 302px desktop | 226px tablet | 302px mobile

  --section-splide-slide-gap: max(10px, (20px * var(--scale)));

  //--section-splide-slide-pt: 33px;
  //--section-splide-slide-pr: max(35px, (49px * var(--scale)));
  //--section-splide-slide-pb: max(55px, (100px * var(--scale)));
  //--section-splide-slide-pl: max(35px, (52px * var(--scale)));

  --section-splide-arrow-w: 56px;
  --section-splide-arrow-offset: 40px;

  padding: var(--section-pt) 0 var(--section-pb);

  @include scale-03 {
    //--section-pb: calc(135px - var(--section-splide-track-pb));

    //--section-splide-track-pl: 0px;

    //--section-splide-list-gap: 20px;
    //--section-splide-slide-w: 45.32%; // 455px
  }

  @include scale-05 {
    --section-splide-slide-w: 302px; // 302px desktop | 226px tablet | 302px mobile
    --section-splide-slide-gap: 20px;
  }

  @media (max-width: 900px) {
    --section-splide-track-pl: 16px;
  }

  @include tablet {
    //--section-splide-slide-w: 70%;
  }

  @include mobile {
    --section-pt: 58px;
    --section-pb: 55px;

    //--section-splide-track-pt: 0px;
    //--section-splide-track-pl: 0px;
    //--section-splide-track-pb: 0px;


    //--section-splide-slide-w: 100%;
  }

  .container {
    //--container-w: calc(1420px * var(--scale));
    --container-w: max(1000px, (1345px * var(--scale)));
    --container-px: 0px;

    @include scale-05 {
      --container-w: max(768px, (1500px * var(--scale)));
    }
  }

  &-wrapper {

  }

  // Section Heading
  &__heading {
    margin: 0;

    font-size: max(40px, (70px * var(--scale)));
    line-height: 1.51429;
    font-weight: 400;
    text-align: center;

    padding: 0 15px;

    @include mobile {
      font-size: 40px;
      line-height: 1.2;

      max-width: 370px;
      margin: 0 auto;
    }
  }

  &__tagline {
    margin: 5px 0 0;

    font-size: max(18px, (30px * var(--scale)));
    line-height: 1.1;
    font-weight: 400;
    text-align: center;

    display: flex;
    justify-content: center;

    padding: 0 15px;

    @include mobile {
      line-height: 1.4;

      max-width: 265px;
      margin: 10px auto 0;
    }
  }

  &-splide {
    margin: max(52px, (92px * var(--scale))) 0 0;

    position: relative;

    @include mobile {
      margin-top: 52px;
    }

    &:before {
      content: "";

      position: absolute;
      //top: -49px;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 100%;
      //height: auto;
      height: 100%;
      max-width: max(910px, (1020px * var(--scale)));

      opacity: 0.55;
      border-radius: 9px;
      background: linear-gradient(90deg, #8C97FF 22.86%, #31D0AA 99.33%);

      //@include layout-1200 {
      //  max-width: 90%;
      //}

      @include scale-05 {
        max-width: 90%;
      }

      @include tablet-lg {

      }

      @media (max-width: 900px) {
        max-width: 100%;
      }

      @include mobile {
        //top: 0;
        //bottom: -52px;
        //height: 100%;
      }
    }

    &__track {
      padding-top: var(--section-splide-track-pt);
      padding-right: var(--section-splide-track-pr) !important;
      padding-bottom: var(--section-splide-track-pb);
      padding-left: var(--section-splide-track-pl) !important;
    }

    &__list {
      // gap: var(--section-splide-list-gap);
    }

    &__slide {
      display: flex;
      aspect-ratio: 1/1;

      padding: 0;
      margin-right: var(--section-splide-slide-gap)!important;

      border-radius: 8px;
      overflow: hidden;
      //background-color: $white;
      //box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.10);

      //margin-right: var(--section-splide-list-gap);

      max-width: var(--section-splide-slide-w);

      @include scale-05 {

      }

      //.author-grid {
      //  display: grid;
      //  grid-template-areas:
      //          "avatar author"
      //          "avatar position"
      //          "stars stars";
      //  grid-template-columns: calc(61px + 13px) 1fr; // 13 => image margin-right
      //}

      .member-grid {
        border-radius: 8px;
        overflow: hidden;

        &-content {
          position: absolute;
          top: max(18px, (24px * var(--scale))); // ToDo: Mobile back to 24px
          left: max(16px, (21px * var(--scale))); // ToDo: Mobile back to 21px

          display: flex;
          flex-direction: column;

          @include scale-05 {
            top: 24px;
            left: 21px;

          }
        }
      }
    }

    &__img {
      display: flex;

      img {
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }

    &__name {
      margin: 0 0 2px;

      font-size: max(13.5px, (18px * var(--scale))); // ToDo: Mobile back to 18px
      line-height: 1.1;
      font-weight: 400;

      color: $color__typography;
      //@include typography-testimonial-item-author;

      @include scale-05 {
        font-size: 18px;
      }
    }

    &__position {
      margin: 0;

      font-size: max(12px, (16px * var(--scale))); // ToDo: Mobile back to 16px
      line-height: 1.1;
      font-weight: 400;


      color: $color__light_typo;
      //@include typography-testimonial-item-position;

      @include scale-05 {
        font-size: 16px;

      }
    }

    &__arrows {
      position: absolute;
      //top: calc(160px + var(--section-splide-track-pt));
      top: 50%;
      transform: translateY(-50%);

      //left: 0;
      left: calc( var(--section-splide-arrow-offset) * -1 );
      //width: 100%;
      width: calc(100% + (var(--section-splide-arrow-offset) * 2));

      display: flex;
      justify-content: space-between;

      @include scale-03 {
        //top: calc(170px + var(--section-splide-track-pt));

        //width: calc(100% + (var(--section-splide-arrow-w) * 1.4));
        //left: calc(var(--section-splide-arrow-w) * 0.7 * -1);
      }

      @include tablet-lg {
        top: auto;
        bottom: calc(var(--section-splide-arrow-w) * 0.75 * -1);
        left: 0;
        width: 100%;
      }

      @media (max-width: 980px) {
        //left: 0;
        //width: 100%;
        //top: calc(320px + var(--section-splide-track-pt));
      }

      @include tablet {
        display: none;
      }

      //@include layout-1200 {
      //  top: calc(170px + var(--section-splide-track-pt));
      //
      //  width: calc(100% + (var(--section-splide-arrow-w) * 1.4));
      //  left: calc(var(--section-splide-arrow-w) * 0.7 * -1);
      //}
    }

    &__arrow {
      width: var(--section-splide-arrow-w);
      height: var(--section-splide-arrow-w);

      display: grid;
      place-items: center;

      padding: 0;
      border: none;
      border-radius: 50%;

      background: linear-gradient(90deg, #8C97FF 22.86%, #31D0AA 99.33%);

      cursor: pointer;

      svg {
        color: $white;
      }

      &--prev {

        svg {
          transform: rotate(-180deg);
        }
      }
    }
  }
}