@import '../abstracts/mixins/mixins';
@import '../abstracts/variables/colors';

.promo-section {
  --section-mt            : max(25px, (53px * var(--scale)));
  --section-heading-mb    : max(57px, (70px * var(--scale)));
  --section-gradient-h    : 684px;

  --section-wrapper-pt    : max(41px, (86px * var(--scale)));
  --section-wrapper-pb    : max(41px, (98px * var(--scale)));

  --promo-item-gap        : max(15px, (37px * var(--scale)));
  --promo-item-pt         : max(19px, (27px * var(--scale)));
  --promo-item-px         : max(19px, (27px * var(--scale)));
  --promo-item-pb         : max(36px, (50px * var(--scale)));

  --promo-item-img-mb     : max(18px, (37px * var(--scale)));
  --promo-item-heading-mb : max(7px, (10px * var(--scale)));

  margin                  : var(--section-mt) 0 0;
  position                : relative;
  overflow                : hidden;

  background-color        : #DDDDDD;

  @include tablet {
	//--section-wrapper-pb: 57px;
	//--section-wrapper-pb : 0;
	--promo-item-gap : 20px;

	//margin-top: 30px;
	//padding-top: 30px;
	//overflow: visible;
  }


  @include mobile {
	--section-mt         : 60px;

	--section-wrapper-pt : 48px; // 41px
	--section-wrapper-pb : 57px;
	--section-heading-mb : 57px;
  }

  .container {
	--container-w : max(768px, (1515px * var(--scale)));

	@include tablet {
	  --container-w : 100%;
	}
  }

  &-wrapper {
	position : relative;

	padding  : var(--section-wrapper-pt) 0 var(--section-wrapper-pb);
  }

  // Section Heading
  &__heading {
	@include typography-promo-heading-fs;

	font-weight : 400;
	text-align  : center;

	margin      : 0 0 var(--section-heading-mb);

	@include mobile {
	  --section-heading-mb : 50px;
	  margin-left          : 20px;
	  max-width            : 320px;
	  text-align           : left;
	}
  }

  // Items wrapper
  &-content {
	display               : grid;
	grid-gap              : var(--promo-item-gap);
	grid-template-columns : repeat(3, 1fr);

	counter-reset         : item;

	@include tablet {
	  grid-template-columns : repeat(2, 1fr);
	}

	@include mobile {
	  grid-template-columns : repeat(1, 1fr);
	}

	//@include layout-1200 {
	//  max-width: 1041px;
	//  margin: 0 auto;
	//}
  }

  &-item {
	padding           : var(--promo-item-pt) var(--promo-item-px) var(--promo-item-pb);

	border-radius     : 13px;

	counter-increment : item;

	@include tablet {
	  transform : none !important;
	}

	&.opacity-0 {
	  opacity : 1 !important // not required for zoom animation
	}

	&__img {
	  --img-p       : 15px;
	  border-radius : max(6px, (30px * var(--scale)));
	  overflow      : hidden;

	  aspect-ratio  : 426/236;
	  display       : grid;
	  place-items   : center;
	  //padding: 15px;

	  position      : relative;
	  margin        : 0 0 var(--promo-item-img-mb);

	  @include mobile {
		//aspect-ratio : 306/199;
		border-radius : 6px;
	  }

	  img {
		object-fit : cover;

	  }
	}

	// Single Item Heading
	&__heading {
	  @include typography-promo-item-heading-fs;
	  font-family : var(--font__main);
	  font-weight : 600;

	  margin      : 0 0 var(--promo-item-heading-mb);

	  color       : $color__main;
	}

	&__desc {
	  @include typography-promo-item-desc-fs;
	  font-weight : 400;

	  margin      : 0;
	}
  }
}
