@import '../abstracts/mixins/mixins';
@import '../abstracts/variables/colors';

.image-sep-section {
  padding-bottom: max(55px, (153px * var(--scale)));
  //transform: translateY(-50px);
  //margin-bottom: -50px; // get offset top, but no spacing bottom
  margin-top: -50px;

  //@include layout-1200 {
  //  padding-bottom: 48px;
  //  //transform: translateY(-68px);
  //  //margin-bottom: -68px;
  //  margin-top: -68px;
  //}

  @include tablet {
    margin-top: 0;
  }

  @include mobile {
    padding-bottom: 55px;
  }

  .container {
    --container-w: max(768px, (1480px * var(--scale)));

    @include tablet {
      --container-w: 100%;
    }

    @include mobile {
      --container-px: 0px;


    }

    //@include layout-1200 {
    //  --container-w: 1143px;
    //}
  }

  &-wrapper {

    @include mobile {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img-desktop {

    @include mobile {
      display: none;
    }
  }

  &__img-mobile {
    display: none;

    @include mobile {
      display: flex;
    }
  }

  &__cta {
    display: none;

    @include mobile {
      display: flex;

      margin-top: 57px;
    }
  }
}