input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  border-radius: 3px;
  padding: 3px;

  &:focus {
    color: $color__text-input-focus;
  }
}

select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}


.wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: max(11px, (20px * var(--scale)));

  &-control-wrap {
    //--form-input-pt: 27px;
    --form-input-pt: 0;
    --form-input-pr: 0;
    //--form-input-pb: 21px;
    --form-input-pb: 0;
    --form-input-pl: max(28px, (38px * var(--scale)));

    @include mobile {
      --form-input-pl: 28px;
    }

    input,
    textarea {
      padding: var(--form-input-pt) var(--form-input-pr) var(--form-input-pb) var(--form-input-pl);

      border-radius: 46px;
      border-color: $color__typography;
      color: $color__typography;

      @include typography-contact-input;

      &::placeholder {
        color: $color__light_typo;
        opacity: 1;
      }
    }

    input {
      width: 100%;
      height: max(50px, (73px * var(--scale)));
    }

    textarea {
      --form-input-pt: max(18px, (28px * var(--scale)));
      --form-input-pr: max(26px, (38px * var(--scale)));
      --form-input-pb: max(18px, (28px * var(--scale)));
      --form-input-pl: max(26px, (38px * var(--scale)));

      resize: none;

      @include mobile {
        border-radius: 25px;
      }
    }

    // checkbox-acceptance - custom style
    .wpcf7-acceptance {

      .wpcf7-list-item {
        margin: 0;

        label {
          cursor: pointer;

          input[type='checkbox'] {
            display: none;

            &:checked + .wpcf7-list-item-label {

              &:before {
                background: linear-gradient(90deg, #8C97FF 22.86%, #31D0AA 99.33%);
              }

              &:after {
                //opacity: 1;
                background-image: url("../images/check.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
              }
            }
          }

          .wpcf7-list-item-label {
            position: relative;
            padding-left: 35px;

            @include typography-contact-input;
            font-weight: 400;

            display: flex;
            line-height: 25px;

            @include mobile {
              line-height: 20px;
              padding-left: 30px;
            }

            a {
              color: $color__typography;
              margin-left: 5px;
            }

            &:before,
            &:after {
              position: absolute;
              display: block;
              content: "";
            }

            &:before {
              top: 0;
              left: 0;
              width: 25px;
              height: 25px;
              border-radius: 5px;
              background: $color__typography;
              //border: 1px solid $color__typography;

              @include mobile {
                width: 20px;
                height: 20px;
              }
            }

            &:after {
              top: 2px;
              left: 2px;
              width: 21px;
              height: 21px;
              //background-color: $color__typography;
              //background: $color__typography;
              border-radius: 3px;
              background: #fff;
              transition: all .2s ease-out;
              //opacity: 0;

              @include mobile {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }

  .gradient-wrapper {
    position: relative;

    //height: max(50px, (73px * var(--scale)));
    //width: calc(320px * var(--scale));

    display: flex;
    align-items: center;
    justify-content: flex-end;

    //border-radius: 0 50px 50px 0;
    //overflow: hidden;

    @include mobile {
      //position: relative;
      //top: auto;
      //right: auto;
      justify-content: center;

      width: 100%;
      height: 50px;
      overflow: visible;
    }

    &:before {
      content: "";
      background: linear-gradient(90deg, #8C97FF 22.86%, #31D0AA 99.33%);
      filter: blur(25px);
      width: calc(258px * var(--scale));
      top: 0;
      right: 0;

      bottom: 0;
      position: absolute;

      @include mobile {
        width: 100%;
      }
    }

    input {
      height: max(42px, (58px * var(--scale)));

      @include typography-contact-submit;

      padding: 0;
      width: calc(258px * var(--scale));
      border-radius: 50px;
      border: none;

      //margin-right: calc(8px * var(--scale));

      cursor: pointer;
      color: $white;

      z-index: 1;

      background: $color__typography;
      transition: background-color ease .3s;

      @include mobile {
        //margin: 0;
        width: 100%;
        height: 100%;
      }

      &:hover,
      &:focus {
        background-color: $color__typography-lighten;
      }
    }

    .wpcf7-spinner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;

      margin: 0 8px 0 0;

      z-index: 1;
    }
  }
}