.union {
  --union-w: calc(1756px * var(--scale));
  --union-h: calc(1306px * var(--scale));

  @include mobile {
    --union-w: calc(1756px * 0.3);
    --union-h: calc(1306px * 0.3);
  }

  position: relative;

  width: var(--union-w);
  height: var(--union-h);

  &:before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    bottom: 0;

    background-image: url("../images/vector-union.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// ToDo: check blend mode Multiply for union with CSS
