.page-template-page-inner {
  min-height: 100dvh;
  display: flex;

  .site {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;

    // Site Content
    &-main {
      flex: 1 1 100%;
      padding-bottom: 50px;

      .container {
        --container-w: max(768px, (1620px * var(--scale)));

        @include tablet {
          --container-w: 100%;
        }

        position: relative;

        .union {
          position: absolute;
          top: calc(620px * var(--scale) * -1);
          right: calc(380px * var(--scale) * -1);

          @include mobile {
            top: calc(620px * 0.35 * -1);
            right: calc(380px * 0.35 * -1);
          }
        }
      }
    }

    // Site Footer
    &-footer {
      --f-pt: var(--f-pb);
    }
  }

  article {
    max-width: 1045px;
    margin: 0 auto;
    position: relative;
  }

  // Article Header
  .entry-header {

    h1 {
      @include inner-header;
      text-align: center;
      margin: 50px 0;

      @include mobile {
        margin-top: 7px;
      }
    }
  }

  // Article Content
  .entry-content {

    &__datetime {
      display: flex;
      padding-bottom: 15px;
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {

      // Offset first heading that comes right after datetime
      &:nth-child(2) {
        transform: translateY(-15px);
      }
    }

    h2 {

    }

    b, strong {
      font-weight: 600;
    }

    ul {
      margin-left: 0;
    }

    p, ul, ol {
      text-align: justify;
    }
  }

  // Article Footer
  .entry-footer {

  }
}
